@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: black;
    margin: 0;
    padding: 0;
    background-color: white;
}
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}
body {
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: pink;
}
.list--manifest {
    list-style-type: decimal;
}